{% extends 'base.html.twig' %}

{% block title %}Nouvel enregistrement{% endblock %}

{% block body %}
    <h1>Ajouter un enregistrement</h1>

    {{ include('registration/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_registration_index') }}">Retourner à la liste</a>
{% endblock %}
